<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Eidynamic Workflow Process and Semantic Web Services.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Eidynamic Workflow Process and Semantic Web Services.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Eidynamic Workflow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Strategic Response Web Service.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>394EE4BA16C34F67000ADC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>394EE4CB16C34F67000ADC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>394EE4E916C34FC7000ADC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>394EE51116C34FC8000ADC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>394EE52D16C350E9000ADC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
